.featured-head {
    width: 67rem;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    font-size: 23px;
    font-family: sans-serif;
}

.featured-int-head {
    width: 67rem;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    font-size: 23px;
    font-family: sans-serif;
}

.featured-areas {
    display: flex;
    flex-wrap: wrap;
    width: 69rem;
    height: 22rem;
}

.featured-nyc, .featured-la, .featured-chicago, .featured-sf, .featured-miami, .featured-vegas {
    left: 1.2%;
    border-right: 11px solid white;
    z-index: 1;
}

.featured-areas div {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 11rem;
    
}

.featured-areas img {
    position: absolute;
    filter: brightness(70%);
    opacity: .9;
    width: 100%;
    z-index: -1;
}

.featured-int-areas {
    display: flex;
    flex-wrap: wrap;
    width: 69rem;
    height: 22rem;
}

.featured-int-areas div {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 11rem;
}

.featured-int-areas img {
    position: absolute;
    width: 100%;
    filter: brightness(70%);
    opacity: .9;
    z-index: -1;
    
}

.featured-london, .featured-tokyo, .featured-sydney, .featured-berlin, .featured-mexico, .featured-dublin {
    left: 1.2%;
    border-right: 11px solid white;
    z-index: 1;
}

.featured-int-areas img:hover {
    width: 97%;
    height: auto;
    filter: brightness(100%);
    opacity: 1;
    cursor: pointer;
}

.featured-areas img:hover {
    width: 97%;
    height: auto;
    filter: brightness(100%);
    opacity: 1;
    cursor: pointer;
}



