footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
    height: 100px;
    width: auto;
    background-color: #2d333f;
    margin-top: 50px;
}

footer h5 {
    color: white;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 12px;

}

.footer-links {
    display: flex;
    position: relative;
    height: 40px;
    padding: 5px 10vw 0 0;
}

#github img {
    width: 25px;
    height: auto;
    padding-top: 8px;
}

#github img:hover {
    transform: scale(1.1);
}