footer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
    height: 100px;
    width: auto;
    background-color: #2d333f;
}

footer h5 {
    color: white;
    padding-right: 50px;
}