form h3 {
    position: relative;
    font-weight: lighter;
    margin: 0 0 1rem;
    font-size: 2rem;
    line-height: 1.2;
    font-family: Helvetica
}

.session-form-box {
    padding: 3rem;
}

.session-form-box > * {
    display: flex;
    flex-direction: column;
}

.session-form input {
    display: block;
    font-size: .9rem;
    margin-bottom: .5rem;
    padding: 1rem 0rem 1rem 1rem;
}

.session-form .submit-button {
    cursor: pointer;
    background-color: #da3743;
    color: white;
    
}

.session-hr {
    opacity: .4;
}